# 4.6 Merging and Exporting Data

## This script contains the follwing data
#### 1. Download the new data set.
#### 2. Unzip the file and move it into your project folder.
#### 3. Import the data set into Jupyter as a new dataframe: df_ords_prior.
#### 4. Check the dimensions of the imported dataframe.
#### 5. Merge the dataframe with your df_ords dataframe.
#### 6. Use the indicator argument to check whether there was a full match between the two dataframes.

# 01. Importing Libraries

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

# 02. Importing Data

In [2]:
# Creating path

path = r'C:\Users\aleen\OneDrive\Desktop\Aleena\CF assignments\Data Immersion\Achievement 4\23-04-2023 Instacart Basket Analysis'

In [4]:
# Import order_products__prior.csv as df_ords_prior

df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products__prior.csv'), index_col = False)

In [5]:
# Importing checked_products.csv as df_prods

df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'checked_products.csv'), index_col = False)

In [6]:
# Importing checked_orders.csv as df_ords

df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'checked_orders.csv'), index_col = False)

# 03. Checking Data

In [7]:
# Check the output

df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [8]:
# Check the output

df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,0,2539329,1,prior,1,2,8,NaN
1,1,1,2398795,1,prior,2,3,7,15.0
2,2,2,473747,1,prior,3,3,12,21.0
3,3,3,2254736,1,prior,4,4,7,29.0
4,4,4,431534,1,prior,5,4,15,28.0

In [9]:
df_ords_prior.shape

(32434489, 4)

In [10]:
df_ords.shape

(3421083, 9)

In [16]:
df_ords.drop('eval_set', axis = 1, inplace = True)

In [17]:
df_ords.shape

(3421083, 8)

In [18]:
df_ords.drop(['Unnamed: 0.1', 'Unnamed: 0'], axis = 1, inplace = True)

In [19]:
df_ords.shape

(3421083, 6)

In [20]:
df_ords

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0
...,...,...,...,...,...,...
3421078,2266710,206209,10,5,18,29.0
3421079,1854736,206209,11,4,10,30.0
3421080,626363,206209,12,1,12,18.0
3421081,2977660,206209,13,1,12,7.0
3421082,272231,206209,14,6,14,30.0

# 04. Merging Data

In [23]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [24]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [27]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [31]:
df_merged_large_1 = df_ords.merge(df_ords_prior, on = 'order_id', how = 'outer', indicator = True)

In [32]:
df_merged_large_1

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,both
1,2539329,1,1,2,8,NaN,14084.0,2.0,0.0,both
2,2539329,1,1,2,8,NaN,12427.0,3.0,0.0,both
3,2539329,1,1,2,8,NaN,26088.0,4.0,0.0,both
4,2539329,1,1,2,8,NaN,26405.0,5.0,0.0,both
...,...,...,...,...,...,...,...,...,...,...
32640693,2977660,206209,13,1,12,7.0,38730.0,6.0,0.0,both
32640694,2977660,206209,13,1,12,7.0,31477.0,7.0,0.0,both
32640695,2977660,206209,13,1,12,7.0,6567.0,8.0,0.0,both
32640696,2977660,206209,13,1,12,7.0,22920.0,9.0,0.0,both
32640697,272231,206209,14,6,14,30.0,NaN,NaN,NaN,left_only

In [33]:
df_merged_large_1['_merge'].value_counts()

both          32434489
left_only       206209
right_only           0
Name: _merge, dtype: int64

# Exporting Data

In [34]:
# Export df_merged_large as .pkl

df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))